<!--section>

	<h2>Interesse an Angular</h2>
	<p><script type="text/html" src="http://www.google.de/trends/embed.js?hl=de&q=angularjs+%2B+angular.js,+emberjs+%2B+ember.js,+backbonejs+%2B+backbone.js,+knockoutjs+%2B+knockout.jsr&date=1/2011+33m&cmpt=q&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=800&h=600"></script></p>
</section-->
<section>
<img style="width: 100%;" src="img/AngularJS-large.png" alt="AngularJS Logo">
<ul>
	<li>Ein innovatives client-seitiges JavaScript Framework</li>
	<li>Lauffähig auf allen modernen Mobile- und Desktopbrowsern </li>
	<li>Eine gute Grundlage für intuitiv erweiterbare und wartbare Web-Frontends</li>
</ul>
</section>
<section >
	<h2>Was ermöglicht Angular?</h2>
	<ul>
		<li>HTML für dynamische Views mit eigenen Tags erweitern</li>
		<!--pre><code>
		&lt;mytag ng-model="model"&gt;&lt;/mytag&gt;&lt;/code&gt;&lt;/pre&gt;
		&lt;li&gt;MVC verwenden!&lt;/li&gt;
		&lt;pre&gt;&lt;code&gt;
		myController function($scope){
		$scope.model = "genießen";
		$scope.emphaticModel = $scope.model + "!!!";
		}
		...
		&lt;p myattribute&gt; Angular {{emphaticModel}} &lt;/p&gt;
		</code></pre-->
		<li>Das Two-Way Binding nutzen<!--input type="text" ng-model="model"--></li>
		<li>MVC, Service Abstraction und Dependency Injection verwenden</li>
	</ul>
</section>